<h1>Voici les details des postulants tirés</h1>
<table id="Entete">
    <tr>
      <th>Libelle</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Email</th>
      <th>Numero</th>
    </tr>
    <tr>
        <td>Liste 1</td>
      <td>BAREMA</td>
      <td>Djiguiba</td>
      <td>djiguiba@gmail.com</td>
      <td>76554893</td>
    </tr>
    <tr>
        <td>Liste 1</td>
        <td>MALLE</td>
        <td>Alassane</td>
        <td>ba@gmail.com</td>
        <td>76553493</td>
    </tr>
    <tr>
        <td>Liste 1</td>
        <td>DIALLO</td>
        <td>Abdoulaye</td>
        <td>diallo@gmail.com</td>
        <td>76534893</td>
    </tr>
    <tr>
        <td>Liste 1</td>
        <td>DIALLO</td>
        <td>Abdoulaye</td>
        <td>diallo@gmail.com</td>
        <td>76534893</td>
    </tr>
    <tr>
        <td>Liste 1</td>
        <td>DIALLO</td>
        <td>Abdoulaye</td>
        <td>diallo@gmail.com</td>
        <td>76534893</td>
    </tr>
    <tr>
        <td>Liste 1</td>
        <td>DIALLO</td>
        <td>Abdoulaye</td>
        <td>diallo@gmail.com</td>
        <td>76534893</td>
    </tr>

  </table>

  <p>cxcnn</p>