<h1>Voici les details des postulants tirés</h1>
<table id="Entete">
    <tr>
      <th>N°</th>
      <th>Date</th>
      <th>Libelle</th>
      <th>Nombres Tirés</th>
      <th>Détails</th>
    </tr>
    <tr *ngFor="let DetailTirage of detail|paginate:{itemsPerPage:5, currentPage:a}">
      <td>{{DetailTirage.id_liste_postulant}}</td>
      <td>{{DetailTirage.date}}</td>
      <td>{{DetailTirage.libelle}}</td>
        <td>Nombres Tirés</td>
      <td class="Voir_Postulants"> <a   [routerLink]="['/detailsListe',DetailTirage.id_liste_postulant]"  routerLinkActive="active">Détails</a></td>
    </tr>
</table>
 <!-- Next en bas du Tableau à partir de 10 personnes -->
 <div class="tablesucrol"> <pagination-controls (pageChange)="a = $event" previousLabel="Précédente" nextLabel="Suivante"> </pagination-controls> </div>

