
<!-- Texte Description -->
<h1>Voici les coordonnées des postulants:</h1>

<!-- Tableau Liste Postulants -->
<table id="Entete">
  <tr>
    <th>Nom</th>
    <th>Prenom</th>
    <th>Email</th>
    <th>Numero</th>
  </tr>
  <tr>
    <td> Keita</td>
    <td>Ali</td>
    <td>ali@gmail</td>
    <td>76767676</td>
  </tr>
  <tr>
   <td> Traore</td>
   <td>Oumar</td>
   <td>oumar@gmail</td>
   <td>66767676</td>
  </tr>
  <tr>
    <td> Kida</td>
   <td>Fanta</td>
   <td>fanta@gmail</td>
   <td>99002211</td>
  </tr>
</table>


<!-- aaa -->
<ul>
  <li *ngFor="lef Postulants of postulants"> 
    {{postulants.id_postulant}}
     ||{{postulants.nom_postulant}} || {{ postulants.prenom_postulant}} 
    || {{ postulants.numero_postulant}} || {{ postulants.email_postulant}} </li>
</ul>


<!-- 
<ul>
  <li *ngFor="let Postulants of postulants"> {{Postulants.id_postulant}}|| {{Postulants.nom_postulant}}
    || {{Postulants.prenom_postulant}} || {{Postulants.numero_postulant}}  
    || {{Postulants.email_postulant}}
  </li>
</ul> -->