<div>


<!-- Texte Description -->
<h1>Voici les coordonnées des postulants:</h1>
<!-- <ul *ngFor= "let Postulant of postulants">
  <li> 
    
    {{Postulant.id_postulant}}
     ||{{Postulant.nom_postulant}} || {{ Postulant.prenom_postulant}} 
    || {{ Postulant.numero_postulant}} || {{ Postulant.email_postulant}} </li>
</ul> -->

<!-- Tableau Liste Postulants -->
<table id="Entete">
   <tr>
    <th>Nom</th>
    <th>Prenom</th>
    <th>Email</th>
    <th>Numero</th>
  </tr>
  <tr *ngFor= "let Postulant of postulants">
    <td> {{Postulant.nom_postulant}}</td>
    <td>{{ Postulant.prenom_postulant}}</td>
    <td>{{ Postulant.email_postulant}}</td>
    <td>{{ Postulant.numero_postulant}}</td>
  </tr>

</table> 

</div>
