
<!-- Texte Description -->
<h1>Voici la liste des tout les postulants:</h1>

<!-- Tableau Liste Postulants -->
<table id="Entete">
  <tr>
    <th>N°</th>
    <th>Date</th>
    <th>Libelle</th>
    <th>Nombre Postulants</th>
  </tr>
  <!-- sucroller le Tableau à partir de 10 personnes -->
  <tr *ngFor="let Liste of listpost " >
    <td>{{Liste.id_liste_postulant}}</td>
    <td >{{Liste.libelle}}</td>
    <td>{{Liste.date}}</td>
    <td class="Voir_Postulants"> <a   [routerLink]="['/detailsListe',Liste.id_liste_postulant]"  routerLinkActive="active"> Voir Postulants</a></td>
  </tr>
  <tr>
   <!-- <td>1</td>
    <td>2022-08-24</td>
    <td>Liste 1</td>
    <td class="Voir_Postulants"> <a  routerLink="/voir-postulant"  routerLinkActive="active"> Voir Postulants</a></td>
  </tr>
  <tr>
    <td>1</td>
    <td>2022-08-24</td>
    <td>Liste 1</td>
    <td class="Voir_Postulants"> <a  routerLink="/voir-postulant"  routerLinkActive="active"> Voir Postulants</a></td> -->
  </tr>
</table>
