.gauche{
    position: absolute;
width: 627px;
height: 520px;
left: 738px;
top: 266px;
border-radius: 0px;

}
h1{
    position: absolute;
width: 528px;
height: 67px;
left: 481px;
top: 58px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;

color: #FF6600;


}
.libelle {
    font-size: 21px;
    margin-top: 165px;
    margin-left: 35px;
}
.nbre {
    font-size: 21px;
    margin-top: 14px;
    margin-left: 35px;
}
.import {
    margin-left: 35px;
    font-size: 20px;
    margin-top: 12px;
}
.select {
    margin-left: 36px;
    font-size: 20px;
}
p {
    margin-top: 23px;
    margin-left: 35px;
}
