<h1 class="drt">Utilisez nos differents outils pour faire le tirage</h1>

<div class="container"> 
<div class="centre">
        <div class="droite">
       
           
    <h2 class="h2_d">Tirage au sort sur une liste existante</h2>

        <div class="import">
            <form> 
                <input type="file" name="file" class="file"> 
              </form>
              
        </div>

    <div  class="libelle">
        <form>
        <label>Libellé de la liste:<br></label>
        <input type="text" placeholder ="Entrer le libellé de la liste"><br><br>
    </form>
</div>

        <div class="li_tirage_droite">
            <form>
                <label>Libellé du tirage:<br></label>
                <input type="text" placeholder="Entrer le libellé du tirage" class="aa"><br><br>
            </form></div>
        
   
       
    <div class="nbre_droite">
        <form>
    <label></label>Nombre à trier:<br>
    <input type="number"  min = "1" max ="1000" placeholder="Taper le nombre à tirer">
</form>
</div>
<div>
    <p><button type="submit">TRIER</button></p>
</div>
        </div>
<div class="gauche">
    <h2>Tirage au sort sur une nouvelle liste</h2>

    <div class=select>
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chevron-expand" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M3.646 9.146a.5.5 0 0 1 .708 0L8 12.793l3.646-3.647a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 0-.708zm0-2.292a.5.5 0 0 0 .708 0L8 3.207l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708z"/>
          </svg>Selectionner une liste
        </div>
        



        <div class="li_tirage_gauche">
            <form>
                <label>Libellé du tirage:<br></label>
                <input type="text"  placeholder="Entrer le libellé du tirage"><br><br>
            </form></div>
        
   
       
    <div class="nbre_gauche">
        <form >
    <label></label>Nombre à trier:<br>
    <input type="number" min = "1" max ="1000" placeholder="Taper le nombre à tirer">
</form>

    </div>   
    <div>
        <p><button type="submit">TRIER</button></p>
    </div>

</div>
</div>


  
    <div class="image">
        <img src="assets/images/5 (1).png" alt="image">
 </div>
    
       
</div> 
    
    
