


 .entete {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #333;
     padding-top: 0px;
   }
 
   li {
 
     float: right;
   }
 
   li a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-weight: bold;
 
   }
 
   li a:hover {
     background-color: chocolate;
   }







   .foot{
    position: relative;
    display: flex;
    color: orangered;
    text-align: center;
    background-color: black;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0px;
    padding: 34px;
    margin-top: 0px;
    padding-left: 190px;



}

.pied{

    padding-left: 20px;
    font-weight: bold;
    padding-right: 189px;

}
h5{
    display: block;
    color: white;
    /* text-align: center; /
    / text-decoration: none; */
    position: absolute;
    TOP: 50px;
    PADDING-LEFT: 35px;
}
.pir{
    display: block;
    color: white;
    padding-left: -17px;
    position: absolute;
    bottom: 0px;
    PADDING-LEFT: 19px;
}
.bi-youtube{
    margin-left: 12px;
    margin-right: 12px;
}