.footer {
        background-color: BLACK;
        margin-top: 3%;
        width: 100%;
        color: white;
        height: 117px;
        padding: 10px;
    
}
.position li{
    display: inline-block;
    text-decoration: none;
    margin: 50px;
    text-align:center;
}
ul {
    text-align: center;
    margin-top: -32px;
    

}
