
<!-- Menu Général -->
<ul>
  <div class="two">
    <img src="assets/Image/logomenu.png" alt="image" width="200">
</div>
    <li><a href="Détail">Détail </a></li>
    <li><a href="Liste Postulant">Liste Postulant</a></li>
    <li><a href="tirage">Tirage</a></li>
    <li><a class="active" href="accueil">Acceuil</a></li>

  </ul>
  <!-- <app-acceuil></app-acceuil> -->

<!-- Appel des differentes pages -->
<router-outlet></router-outlet>

<div class="footer">
  <div class="position">
    <ul class="pied">
      <li>NOUS CONTACTER</li>
      <li>NOUS TROUVER</li>
      <li>NOUS SUIVRE</li>
    </ul>

  </div>
  </div>


